<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Smarsh.Core.Messaging" type="Smarsh.Core.Messaging.Configuration.MessagingConfigurationSection, Smarsh.Core.Messaging" />
		<section name="Smarsh.ActiveMQ" type="Smarsh.ActiveMQ.Configuration.ActiveMqConfigurationSection, Smarsh.ActiveMQ" />
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<appSettings>
		<clear />
		<add key="EnterpiseInfoRequestApiTimeoutSeconds" value="120" />
		<add key="ApplicationVersion" value="1.0.0.0" />
		<add key="FileRequestApiTimeoutSeconds" value="300" />
		<add key="CacheExpiryDays" value="3" />
		<add key="PrivateAndPublicChannelApiTimeoutInSeconds" value="180" />
		<add key="FailedQueueItemStoragePath" value="\\traffic.pit-isilon-01.smarshinc.com\NX3000\Failed_Queue_Items" />
		<add key="PrivateMessageAndSharedChannelSyncThreadTimeoutInMin" value="480" />
		<add key="SMFDestinationPath" value="\\pit-unity-c03.smarshinc.com\ChatFSSlack\SlackArchiver\SMF" />
		<add key="QueueDeliveryDelay" value="00:15:00" />
		<add key="DbChannelFetchBatchSize" value="50" />
		<add key="DbUserBatchSize" value="1" />
		<add key="SlackMappingSet" value="Slack" />
		<add key="ChannelEntityIntervalInMin" value="20" />
		<add key="UserThreadTimeoutInMin" value="10080" />
		<add key="AutoArchiveEnterpriseTeamsSyncEntityIntervalInMin" value="480" />
		<add key="ChannelInfoRefreshIntervalInHr" value="48" />
		<add key="GatewayTimoutMaxRetryCount" value="3" />
		<add key="AutoArchiveEnterpriseTeamsSyncThreadTimeoutInMin" value="480" />
		<add key="RedisHosts" value="pit1-redis-03.bosh.smarshinc.com:6379,pit1-redis-04.bosh.smarshinc.com:6379" />
		<add key="PrivateAndPublicChannelEntityIntervalInMin" value="60" />
		<add key="UserRequestApiTimeoutSeconds" value="120" />
		<add key="GatewayTimoutRetryIntervalInSeconds" value="30" />
		<add key="FetchBatchIntervalHrs" value="24" />
		<add key="MaxActiveMqClientPoolSize" value="50" />
		<add key="ContentServicesPurgeDelaySeconds" value="345600" />
		<add key="DbPrivateAndPublicChannelBatchSize" value="1" />
		<add key="RecentChannelIntervalInHours" value="168" />
		<add key="PrivateMessageAndSharedChannelEntityIntervalInMin" value="60" />
		<add key="SMFProcessorMappingSetName" value="SmfProcessor" />
		<add key="DisableCache" value="false" />
		<add key="PrivateMessageAndSharedChannelApiTimeoutInSeconds" value="180" />
		<add key="FetchContentThreadTimeoutInMin" value="480" />
		<add key="SlackContentFilePath" value="\\pit-unity-c03.smarshinc.com\ChatFSSlack\SlackArchiver\ContentFile" />
		<add key="RedisPassword" value="eetSIXNNaFR1i62SOKu2z6UZPu5HLO" />
		<add key="BotUserIdCacheExpirationMin" value="480" />
		<add key="PrivateMessageRequestApiTimeoutSeconds" value="180" />
		<add key="DatabaseCommandTimeoutMs" value="60000" />
		<add key="DbPrivateMessageAndSharedChannelBatchSize" value="1" />
		<add key="ContentServicesQueueRetryCount" value="3" />
		<add key="UserEntityIntervalInMin" value="60" />
		<add key="ParticipantsRefreshMappingSet" value="SlackParticipants" />
		<add key="NewChannelStartArchivingDaysBack" value="7" />
		<add key="SlackTranformMappingSet" value="SlackTransform" />
		<add key="PrivateAndPublicChannelSyncThreadTimeoutInMin" value="480" />
		<add key="LogPath" value="Slack" />
		<add key="UserBatchSizeToInsert" value="100" />
		<add key="SmarshCore_Application" value="SlackArchiver" />
		<add key="SmarshCore_Instance" value="Live" />
		<add key="SmarshCore_ZKRoot" value="/Smarsh/Production/Configuration" />
		<add key="ContentServicesActiveMQConnectionUri" value="activemq:failover://(tcp://qa-activemq-04.ost.smarshqa.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1" />
		<add key="ChatProcessorActiveMQConnectionUri" value="activemq:failover://(tcp://qa-activemq-05.ost.smarshqa.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1"/>
		<add key="PartnerBatchActiveMqProducerUri" value="activemq:failover://(tcp://qa-activemq-06.ost.smarshqa.com:61616,tcp://qa-activemq-07.ost.smarshqa.com:61616)?randomize=true&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=10"/>
		<add key="PartnerBatchActiveMqConsumerUri1" value="activemq:failover://(tcp://qa-activemq-06.ost.smarshqa.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1"/>
		<add key="PartnerBatchActiveMqConsumerUri2" value="activemq:failover://(tcp://qa-activemq-07.ost.smarshqa.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1"/>
		<add key="SlackImportActiveMQConsumerUri" value="activemq:failover://(tcp://qa-activemq-07.ost.smarshqa.com.smarshdev.com:61616)?randomize=false&amp;connection.prefetchPolicy.queuePrefetch=1"/>
		<add key="SlackActiveMQConnectionUri" value="activemq:failover://(tcp://dev-activemq-02.ost.smarshdev.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1"/>
		<add key="TwitterActiveMQConnectionUri" value="activemq:failover://(tcp://qcy2-activemq-01.bosh.smarshdev.com:61616)?randomize=false&amp;transport.maxReconnectAttempts=3&amp;transport.reconnectDelay=3000&amp;connection.prefetchPolicy.queuePrefetch=1"/>
	</appSettings>
	<Smarsh.Core.Messaging messageQueueClientType="Smarsh.ActiveMQ.ActiveMqClient, Smarsh.ActiveMQ">
		<Queues>
			<Queue name="BatchQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="ATnTBatchQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="MessageQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="ATnTMessageQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="FailedMessageQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="ATnTFailedMessageQueue_Connections" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="AttachmentQueue_SmfProcessor" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_SmfProcessor" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FilePurgeQueue" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="FailedFilePurgeQueue" uri="PartnerBatchActiveMqProducerUri"/>
			<Queue name="AttachmentQueue_Yammer" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Yammer" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="ProfileNotification_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedProfileNotification_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="PageSubscription_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="UserRegistration_LinkedIn" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedPageSubscription_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Twitter" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Twitter" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_LinkedIn" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_LinkedIn" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Instagram" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Instagram" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Chatter" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Chatter" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_ChatProcessor" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="TransformQueue_Slack" uri="SlackActiveMQConnectionUri"/>
			<Queue name="TransformQueue_SlackHistory" uri="SlackActiveMQConnectionUri"/>
			<Queue name="SlackParticipants_Queue" uri="SlackActiveMQConnectionUri"/>
			<Queue name="FailedMessage_ChatProcessor" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="BatchQueue_ThomsonReutersMessenger" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="FailedBatchQueue_ThomsonReutersMessenger" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="MessageQueue_IMSMF" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedMessageQueue_IMSMF" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="DetailQueue_Yammer" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedDetailQueue_Yammer" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="TransformQueue_Verizon" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Verizon" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FetchQueue_Verizon" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_Verizon" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileQueue_Vantage" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileFailedQueue_Vantage" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileQueue_MobileGuard" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedFileQueue_MobileGuard" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileExportQueue_ExportDelivery" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Slack" uri="SlackActiveMQConnectionUri"/>
			<Queue name="FailedAttachmentQueue_Slack" uri="SlackActiveMQConnectionUri"/>
			<Queue name="NotificationQueue_ExportDelivery" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileQueue_Openfire" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FileFailedQueue_Openfire" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="ServiceAttachmentQueue_CitrixShareFile" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_SocialMedia" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="TransformQueue_Teams" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="FailedMessageQueue_SocialMedia" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="CommentQueue_Facebook" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_GooglePlus" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_HealthCheck" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_EmailBatchProcessor" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="ProvisioningQueue_Solr" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_LivePerson" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="Notification_Workplace" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Workplace" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_LinkedIn" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="AttachmentQueue_Teams" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_Teams" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="FailedMessage_Teams" uri="ChatProcessorActiveMQConnectionUri"/>
			<Queue name="TwitterParticipants_Queue" uri="ContentServicesActiveMQConnectionUri"/>
			<Queue name="MessageQueue_Slack" uri="SlackActiveMQConnectionUri"/>
			<Queue name="FailedMessageQueue_Slack" uri="SlackActiveMQConnectionUri"/>
			<Queue name="UserSubscription_Twitter" uri="ContentServicesActiveMQConnectionUri" />
			<Queue name="Notification_Twitter" uri="TwitterActiveMQConnectionUri" />
		</Queues>
		<QueueMappings>
			<MappingSet name="ActiveMQHealthCheck">
				<Mapping name="MessageQueue_HealthCheck" type="Item" />
			</MappingSet>
			<MappingSet name="Citrix">
				<Mapping name="ServiceAttachmentQueue_CitrixShareFile" type="Attachment"/>
			</MappingSet>
			<MappingSet name="Facebook">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_Facebook" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_Facebook" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="Workplace">
				<Mapping name="MessageQueue_SocialMedia" type="Item"/>
				<Mapping name="AttachmentQueue_Workplace" type="Attachment" />
			</MappingSet>
			<MappingSet name="Teams">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_Teams" type="Attachment" />
			</MappingSet>
			<MappingSet name="TeamsTransform">
				<Mapping name="TransformQueue_Teams" type="Item" />
			</MappingSet>
			<MappingSet name="FacebookCommentRetry">
				<Mapping name="CommentQueue_Facebook" type="Item" />
			</MappingSet>
			<MappingSet name="FacebookProfileNotification">
				<Mapping name="ProfileNotification_Facebook" type="Item"/>
				<Mapping name="FailedProfileNotification_Facebook" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="FacebookPageSubscription">
				<Mapping name="PageSubscription_Facebook" type="Item"/>
				<Mapping name="FailedPageSubscription_Facebook" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="LinkedInUserRegistration">
				<Mapping name="UserRegistration_LinkedIn" type="Item" />
			</MappingSet>
			<MappingSet name="TwitterUserSubscription">
				<Mapping name="UserSubscription_Twitter" type="Item" />
			</MappingSet>
			<MappingSet name="Twitter">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_Twitter" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_Twitter" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="TwitterParticipants">
				<Mapping name="TwitterParticipants_Queue" type="Item" />
			</MappingSet>
			<MappingSet name="LinkedIn">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_LinkedIn" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_LinkedIn" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="Instagram">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_Instagram" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_Instagram" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="Chatter">
				<Mapping name="AttachmentQueue_Chatter" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_Chatter" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="Yammer">
				<Mapping name="AttachmentQueue_Yammer" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_Yammer" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="YammerDetail">
				<Mapping name="DetailQueue_Yammer" type="Item"/>
				<Mapping name="FailedDetailQueue_Yammer" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="Symphony">
				<Mapping name="MessageQueue_ChatProcessor" type="Item"/>
			</MappingSet>
			<MappingSet name="ChatProcessor">
				<Mapping name="MessageQueue_ChatProcessor" type="Item"/>
				<Mapping name="FailedMessage_ChatProcessor" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="ThomsonReutersMessenger">
				<Mapping name="MessageQueue_ChatProcessor" type="Item"/>
			</MappingSet>
			<MappingSet name="ThomsonReutersMessengerBatch">
				<Mapping name="BatchQueue_ThomsonReutersMessenger" type="Item"/>
				<Mapping name="FailedBatchQueue_ThomsonReutersMessenger" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="Pivot">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
			</MappingSet>
			<MappingSet name="Openfire">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
			</MappingSet>
			<MappingSet name="OpenfireFetch">
				<Mapping name="FileQueue_Openfire" type="Item"/>
				<Mapping name="FileFailedQueue_Openfire" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="IMSMF">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
				<Mapping name="FailedMessageQueue_IMSMF" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="SocialMedia">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="FailedMessageQueue_SocialMedia" type="FailedItem" />
			</MappingSet>
			<MappingSet name="PartnerBatches">
				<Mapping name="BatchQueue_Connections" type="Item"/>
			</MappingSet>
			<MappingSet name="ATnTPartnerBatches">
				<Mapping name="ATnTBatchQueue_Connections" type="Item" />
			</MappingSet>
			<MappingSet name="Connections">
				<Mapping name="MessageQueue_Connections" type="Item"/>
				<Mapping name="FailedMessageQueue_Connections" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="ATnTConnections">
				<Mapping name="ATnTMessageQueue_Connections" type="Item" />
				<Mapping name="ATnTFailedMessageQueue_Connections" type="FailedItem" />
			</MappingSet>
			<MappingSet name="SmfProcessor">
				<Mapping name="AttachmentQueue_SmfProcessor" type="Attachment"/>
				<Mapping name="FailedAttachmentQueue_SmfProcessor" type="FailedAttachment"/>
			</MappingSet>
			<MappingSet name="Purge">
				<Mapping name="FilePurgeQueue" type="Item"/>
				<Mapping name="FailedFilePurgeQueue" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="Verizon">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
				<Mapping name="AttachmentQueue_Verizon" type="Attachment" />
			</MappingSet>
			<MappingSet name="VerizonTransform">
				<Mapping name="TransformQueue_Verizon" type="Item"/>
			</MappingSet>
			<MappingSet name="VerizonFetch">
				<Mapping name="FetchQueue_Verizon" type="Item"/>
			</MappingSet>
			<MappingSet name="Vantage">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
			</MappingSet>
			<MappingSet name="VantageFetch">
				<Mapping name="FileQueue_Vantage" type="Item"/>
				<Mapping name="FileFailedQueue_Vantage" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="MobileGuard">
				<Mapping name="MessageQueue_IMSMF" type="Item"/>
			</MappingSet>
			<MappingSet name="MobileGuardFetch">
				<Mapping name="FileQueue_MobileGuard" type="Item"/>
				<Mapping name="FailedFileQueue_MobileGuard" type="FailedItem"/>
			</MappingSet>
			<MappingSet name="ExportDelivery">
				<Mapping name="FileExportQueue_ExportDelivery" type="Item"/>
			</MappingSet>
			<MappingSet name="Slack">
				<Mapping name="MessageQueue_Slack" type="Item"/>
				<Mapping name="FailedMessageQueue_Slack" type="FailedItem"/>
				<Mapping name="AttachmentQueue_Slack" type="Attachment" />
				<Mapping name="FailedAttachmentQueue_Slack" type="FailedAttachment" />
			</MappingSet>
			<MappingSet name="SlackTransform">
				<Mapping name="TransformQueue_Slack" type="Item" />
			</MappingSet>
			<MappingSet name="SlackParticipants">
				<Mapping name="SlackParticipants_Queue" type="Item" />
			</MappingSet>
			<MappingSet name="SlackHistoryTransform">
				<Mapping name="TransformQueue_SlackHistory" type="Item" />
			</MappingSet>
			<MappingSet name="ICEChat">
				<Mapping name="MessageQueue_ChatProcessor" type="Item"/>
			</MappingSet>
			<MappingSet name="ExportNotification">
				<Mapping name="NotificationQueue_ExportDelivery" type="Item"/>
			</MappingSet>
			<MappingSet name="GooglePlus">
				<Mapping name="MessageQueue_SocialMedia" type="Item" />
				<Mapping name="AttachmentQueue_GooglePlus" type="Attachment" />
			</MappingSet>
			<MappingSet name="EmailBatchProcessor">
				<Mapping name="MessageQueue_EmailBatchProcessor" type="Item" />
			</MappingSet>
			<MappingSet name="SolrProvisioning">
				<Mapping name="ProvisioningQueue_Solr" type="Item" />
			</MappingSet>
			<MappingSet name="LivePersonFetch">
				<Mapping name="MessageQueue_LivePerson" type="Item" />
			</MappingSet>
			<MappingSet name="LivePersonTransform">
				<Mapping name="MessageQueue_IMSMF" type="Item" />
			</MappingSet>
			<MappingSet name="WorkplaceNotification">
				<Mapping name="Notification_Workplace" type="Item" />
			</MappingSet>
			<MappingSet name="LinkedInResharePostFetch">
				<Mapping name="MessageQueue_LinkedIn" type="Item" />
			</MappingSet>
			<MappingSet name="TwitterNotification">
				<Mapping name="Notification_Twitter" type="Item" />
			</MappingSet>
		</QueueMappings>
	</Smarsh.Core.Messaging>
	<Smarsh.ActiveMQ>
		<NonFatalConnectionExceptions>
			<MessageFragment>Unmatched acknowledge: MessageAck</MessageFragment>
			<MessageFragment>Could not correlate acknowledgment with dispatched message: MessageAck</MessageFragment>
		</NonFatalConnectionExceptions>
	</Smarsh.ActiveMQ>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.1.3894" newVersion="1.7.1.3894" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Apache.NMS.ActiveMQ" publicKeyToken="82756feee3957618" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.2.4108" newVersion="1.7.2.4108" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>