<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net472" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.1.4.3" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.1.3.13" targetFramework="net472" />
  <package id="log4net-oldkey" version="1.2.13" targetFramework="net472" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net472" />
  <package id="ncrontab" version="3.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="5.1.1" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="Smarsh.ActiveMQ" version="3.0.0.22" targetFramework="net472" />
  <package id="Smarsh.Core.Configuration" version="2.0.1.6" targetFramework="net472" />
  <package id="Smarsh.Core.DataAccess" version="2.0.0.3" targetFramework="net472" />
  <package id="Smarsh.Core.Diagnostics" version="1.1.0.19" targetFramework="net472" />
  <package id="Smarsh.Core.IO" version="1.1.1.7" targetFramework="net472" />
  <package id="Smarsh.Core.Messaging" version="1.0.1.16" targetFramework="net472" />
  <package id="Smarsh.Core.Services" version="4.5.1.13" targetFramework="net472" />
  <package id="Smarsh.Core.ZooKeeper" version="3.0.1.5" targetFramework="net472" />
  <package id="Smarsh.ZooKeeper.Net" version="3.4.6.2" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>